h1 {
  color: black;
  font-family: itc-american-typewriter, serif;
  font-weight: 700;
  font-style: normal;
}
h2 {
  color: black;
  font-family: itc-american-typewriter, serif;
  font-weight: 300;
  font-style: normal;
}
h3 {
  color: black;
  font-family: itc-american-typewriter, serif;
  font-weight: 300;
  font-style: normal;
}
p {
  color: black;
  font-size: 22px;
  letter-spacing: .5px;
  margin-top: 0;
  font-family: american typewriter;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
a:link {
  color: darkred;
}
a:visited {
  color: crimson;
}
a:hover {
  color: lightcoral;
}
body {
  margin: 50px;
  text-align: center;
  background-color: papayawhip;
}
