* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
  width: 900px;
  padding: 50px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  background-color: oldlace;
}
.red, .blue {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: mediumvioletred;
}
.blue {
  background-color: midnightblue;
}
