.shape1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: pink;
  opacity: .5;
  float: left;
}
.shape2 {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background-color: palevioletred;
  margin: -50px;
  overflow: hidden;
  float: left;
}
.shape3 {
  width: 100px;
  height: 100px;
  border: 10px solid rosybrown;
  overflow: hidden;
  float: left;
}
