* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
header {
  background-color: #C1F1EA;
  padding: 50px;
  display: flow-root;
}
main {
  background-color: #29B7A5;
  margin-bottom: 0;
}
footer {
  background-color: #29B7A5;
}
nav {
  position: relative;
  left: 40%;
  bottom: 20px;
  top: 20px;
}
.logo {
  width: 15%;
  position: relative;
  left: 45%;
}
.title {
  position: relative;
  left: 45%;
  width: 15%;
}
.title p {
  margin: 0;
  font-family: monotalic, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hero {
  background: url(../images/picture14.jpg) no-repeat center center;
  background-size: cover;
  padding: 300px 0;
}
h1 {
  margin: 0;
  text-align: center;
}
p {
  margin-top: 20px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul {
  margin: 1.2rem 0 0;
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin: 0 0 0 25px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
p.subhead {
  text-align: center;
}
.section {
  margin-top: 90px;
  margin-left: 10px;
}
.socials {
  width: 5%;
  position: relative;
  left: 45%;

}
