* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
header {
  background-color: #C1F1EA;
  padding: 50px;
  display: flow-root;
}
main {
  background-color: #29B7A5;
  margin-bottom: 0;
  padding-top: 1px;
}
footer {
  background-color: #C1F1EA;
  padding-top: 50px;
  padding-bottom: 10px;
}
footer p {
  font-size: 10pt;
  margin-left: 10px;
}
nav {
  position: relative;
  left: 40%;
  bottom: 20px;
  top: 20px;
}
.logo {
  width: 10%;
  position: relative;
  left: 45%;
}
.title {
  position: relative;
  left: 45%;
  width: 10%;
  padding-bottom: 10px;
}
.title p {
  font-family: monotalic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30pt;
  margin-left: -100%;
  margin-bottom: 10px;
}
.hero {
  background: url(../images/picture14.jpg) no-repeat center center;
  background-size: cover;
  padding: 300px 0;
  font-family: monotalic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15pt;
}
.hero2 {
  background-size: cover;
  padding: 200px 0;
  font-family: monotalic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15pt;
}
.overline, .underline, .overline2, .underline2 {
  background-color: #C1F1EA;
  height: 2px;
}
.overline {
  margin-bottom: 30px;
  margin-top: -50px;
}
.underline {
  margin-top: 30px;
}
.overline2 {
  margin-top: 10px;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 25pt;
}
h2 {
  color: #29B7A5;
  margin-left: -15px;
}
p {
  margin-top: 20px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
}
ul {
  margin: 1.2rem 0 0;
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin: 0 0 0 25px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
a:link {
  color: black;
}
a:active {
  color: black;
}
a:hover {
  color: darkmagenta;
}
p.subhead {
  text-align: center;
}
.section {
  margin-top: 90px;
  margin-left: 10px;
}
.socials {
  width: 5%;
  position: relative;
  left: 45%;
}
.col, .col2 {
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
.email {
  text-align: center;
  color: #29B7A5;
  margin-top: -40px;
}
.email p {
  font-size: 18px;
}
.newsletter {
  text-align: center;
  color: #29B7A5;
  margin-top: -120px;
  margin-bottom: 70px;
}
.newsletter p {
  font-size: 18px;
}
.nowrap {
  white-space: nowrap ;
}
@media screen and (max-width: 574px) {
nav {
  left: 18%;
 }
 .title {
   width: 30%;
   left: 35%;
 }
 .title p {
   font-size: 15pt;
   margin-left: -60%;
 }
 .logo {
   width: 25%;
   left: 35%;
 }
 .socials {
   width: 15%;
   left: 63%;
 }
 footer {
   padding-bottom: 5px;
 }
 footer p {
   font-size: 8pt;
 }
 .hero {
   width: 100%;
 }
 .col {
   width: 70%;
   margin-left: 15%;
 }
 .col2 {
   width: 80%;
   margin-left: 10%;
 }
 p {
   font-size: 13pt;
 }
 h1 {
   font-size: 20pt;
 }
 h2 {
   margin-left: -35px;
 }
 .overline {
   margin-top: -40px;
 }
}
