@media screen and (min-width: 768px) {
/* styles for screen sizes 768px and above */
}
* {
  box-sizing: border-box;
}
body {
  background-color: #29B7A5;
  max-width: 768px;
}
li {
  margin-right: 30px;
  /* text-align: left; */
  float: right;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  list-style-type: none;
}
h2 {
  text-align: center;
  font-family: monotalic, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 50%l;
  max-width: 768px;
}
.underline, .overline {
  background-color: #C1F1EA;
  height: 2px;
  margin-bottom: 10px;
}
.overline {
  margin-top: 60px;
}
.overline2 {
  background-color: #C1F1EA;
  height: 2px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-top: 160px;
}
.underline3 {
  background-color: #C1F1EA;
  height: 2px;
  margin-bottom: 15px;
  max-width: 100%;
  margin-top: 20px;
}
.overline3 {
  background-color: #C1F1EA;
  height: 2px;
  margin-bottom: 15px;
  max-width: 100%;
  margin-top: 20px;
}
.underline4 {
  background-color: #C1F1EA;
  height: 2px;
  margin-bottom: 15px;
  max-width: 100%;
  margin-top: 20px;
}
h1 {
  text-align: center;
  font-family: monotalic, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #C1F1EA; */
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  max-width: 768px;
  height: 100px;
  margin-bottom: 0;
  z-index: 10;
}
p {
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;
text-align: left;
color: black;
margin-left: 10px;
}
.footer {
  background-color: #C1F1EA;
  width: 768px;
  height: 50px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.center, .banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  width: 50%;
}
.banner {
  max-width: 768px;
}
.footerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.headerlogo {
  width: 50%;
  margin-left: 30%;
  margin-right: 50%;
}
.socials {
  margin-left: 300px;
  max-width: 25%;
  background-color: #C1F1EA;
  float: left;
  position: relative;
  top: -250px;
}
.header {
  background-color: #C1F1EA;
  max-width: 768px;
  hight: 100px;
  position: relative;
  z-index: -10;
  top: 0;
}
.nav {
  margin-right: 50px;
  /* text-align: left; */
  float: right;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 100px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #C1F1EA;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
.images {
  width: 60%;
  margin-left: 20%;
  margin-right: 50%;
}
